name: "Homoglyph sender domain"
description: |
  Sender's domain is a homoglyph of one of your domains.
type: "rule"
source: |
  type.inbound
  and (
      iedit_distance(sender.email.domain.domain, 'YOURDOMAIN1.COM') < 2
      or iedit_distance(sender.email.domain.domain, 'YOURDOMAIN2.COM') < 2
  )
  and sender.email.email not in $recipient_emails
tags:
  - "Suspicious sender"
