name: "Brand impersonation: Sublime Security"
description: |
  Possible attempt to impersonate Sublime Security executives.
type: "rule"
severity: "high"
source: |
  type.inbound
  and sender.display_name in~ (
    'Sublime Security',
    'Josh Kamdjou',
    'Joshua Kamdjou',
    'Ian Thiel'
  )
  and sender.email.domain.domain != 'sublimesecurity.com'
  and sender.email.email not in $recipient_emails
  and (
    sender.email.domain.domain in $free_email_providers
    or sender.email.domain.root_domain not in $tranco_1m
  )
tags:
  - "Brand impersonation"
  - "Contact impersonation"
  - "Executive impersonation"
  - "Suspicious sender"
