name: "Brand impersonation: Sublime Security"
description: |
  Possible attempt to impersonate Sublime Security executives.
references:
  - "https://sandbox.sublimesecurity.com?id=612ff73b-e22d-4176-9e22-2b841b60a237"
type: "rule"
severity: "high"
source: |
  type.inbound
  and (
    sender.display_name in~ ('Sublime Security', 'Josh Kamdjou', 'Joshua Kamdjou', 'Ian Thiel')
    or strings.ilevenshtein(sender.email.domain.domain, 'sublimesecurity.com') <= 2
  )
  and sender.email.domain.domain != 'sublimesecurity.com'
  // first-time sender
  and (
    profile.by_sender().prevalence in ("new", "outlier")
    or (
      profile.by_sender().any_messages_malicious_or_spam
      and not profile.by_sender().any_false_positives
    )
  )
attack_types:
  - "Credential Phishing"
tactics_and_techniques:
  - "Impersonation: Brand"
  - "Lookalike domain"
  - "Social engineering"
detection_methods:
  - "Sender analysis"
id: "949484ed-c774-5f53-b91f-cd02ee6104f9"
testing_pr: 815
testing_sha: aed114f25899ab2d1ff2b5519c78aa177a48fa26
